# Introduction to Python for Data Analysis
This is about lerning python for data analysis

In [2]:
# This is a comment
print("Hello World")

Hello World

In [3]:
11+12

23

In [4]:
print("Hello my name is XXX")

Hello my name is XXX

In [5]:
print("I am taking a Data Analytics COurse")

I am taking a Data Analytics COurse

In [6]:
24-23

1

### Get input from the user

In [14]:
name= input("What is your name: ")
print("Your name is ", name)

What is your name:  Juuddy

Your name is  Juuddy

In [17]:
firstnum= input("Enter first number: ")
secondnum= input("Enter second number: ")

total= int(firstnum) + int(secondnum)

print("Total sum is", total)

Enter first number:  50
Enter second number:  45

Total sum is 95

In [ ]:

# Print statments

# input statments

# Declare Variables
name= "Samuel"
age= 25
gender= "Male"
course= "Data Analytics"

print("Hello", name, "you are", age, "years old!. Welcome to ", course,"course")

In [ ]:
#  Data Types


# String
name= 'Alice'
age= "25"

# Integer -- Whole number
age= 25
number_of_pages= 200

# Float --  With decimal points
bank_balance= 150.45
mpesa_balance= 7.20
height= 1.7
weight= 56.8

## Boolean -- True or False
is_student= False
is_kenyan= True